<html>
<body>
<h3 class="section-heading">Wine Cellar</h3>
<div class="container-fluid">

<!-- NAV PILL -->
  <h2><small>Personal Categories</small></h2>
      <% if current_user.pins.count > 0 %><!--  (if the user has any PINS) --> 
     <!--  START NAV PILL TABS   -->    
            <ul class="nav nav-pills tabs-iconized" role="tablist">
              <li class="active"><a href="#chapter0" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> All Favorite Wines</a></li>

              <% if @personal_category_count > 0 %><!--  (if the user HAS ANY personal_categories) -->
            <!--       <li><a href="#chapter1" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> <= @first_personal_category.name %></a></li> -->
                
                <% @all_personal_categories.each do |personal_category|%>
                  <li><a href="#chapter_<%= personal_category.id %>" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> <%= personal_category.name %></a></li>
                <% end %>

              <% else %> <!-- (if the user doesn't have any personal_categories, then don't do anything in between tabs) -->
              <% end %> <!-- ends the IF @personal_categories_count > 0 loop -->

            <!--if the user doesn't have any personal_categories, this LAST TAB shows up either way to ADD / Edit cats -->
              <li><a href="#chapter_last" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> Add / Edit Categories</a></li>
            </ul><!--  nav pills list -->

<!--   START NAV PILL CONTENT --> <!-- (this one is for if the user has PINS - may or not have CATS) -->
           <div class="tab-content">
            <div class="tab-pane fade in active" id="chapter0"><!--  chapter 0 displays all PINS regardless of CATS -->
               
                   <div class="row">
                   <br>
                     <% (@pins.order(:updated_at).reverse).each do |pin| %>
                     <div class="col-md-9 col-sm-12">
                       <div class="col-md-6 col-sm-6 product-index-single">
                          <div class="my-well-cellar-pg">
                            <h4 align="center"><a href ="/wines/<%= pin.wine.id %>"><%= pin.wine.name %></h4><br>
                            <img class= "wine_image center" src=<%= pin.wine.default_image %>></a><br>
                                <p align="center"><i>Expert Rating:</i> <b><%= pin.wine.expert_rating_for_show %></b></p>
                                <p align="center"><i>User Rating:</i> <b><%= pin.wine.user_rating_for_show %></b>  ( based on <b><%= pin.wine.user_rating_count %></b> reviews )</p>
                                <p align="center"><i>Overall Rating:</i> <b><%= pin.wine.overall_rating %></b></p>
                                <br>
                                <p align="center"><i>Region:</i> <b>
                                   <% if pin.wine.region_empty? %>
                                    <%= pin.wine.region.country.name %></b></p>
                                  <% else %>
                                    <%= pin.wine.region.name %>, <%= pin.wine.region.country.name %></b></p>
                                  <% end %>
                                <p align="center"><i>Wine type:</i> <b><%= pin.wine.varietal.wine_type %></b></p>
                                <p align="center"><i>Varietal:</i> <b><%= pin.wine.varietal.name %></b></p>
                                <p align="center"><i>Price:</i> <b><%= number_to_currency(pin.wine.price) %></b></p>
                                <br>

                              <p><strong>Description: </strong></p>
                              <p><%= pin.wine.description %></p>
                              </div>
                              </div>
                            
<!-- this lets you select an existing personal_category to add the pin to (by creating a new personal_category_pin): -->
                            <div class="col-md-6 col-sm-6 product-index-single">
                              <div class="my-well-cellar-pg">

                             <% if current_user %> <!-- (need this so it only displays per_cats of the user?, has matching else end on line 109/111) -->
                                  <!-- DISPLAY current Personal Categories that this Pin belongs to: -->
                                  <p><strong>Personal Categories this Wine belongs to: </p></strong>
                                  <% if pin.personal_categories.empty? %>
                                            <ul>
                                              <strong><li class="fa fa-envira"> N/A</li></strong>
                                            </ul>
                                    <% else %>          
                                        <% pin.personal_categories.each do |per_cat| %>
                                            <ul>
                                          <!--   DELETE PIN FROM CAT LINK-->
                                                <% pcps = pin.personal_category_pins %>
                                                <% pcps.each do |pcp| %>
                                                        <% if pcp.personal_category %>
                                                          <% if pcp.personal_category.name == per_cat.name %>
                                                                 <% @pcp_id = pcp.id %>
                                                          <% end %>
                                                        <% end %>
                                                <% end %>   
                                                 <%= form_tag "/personal_category_pins/#{@pcp_id}", method: :delete do %>
                                              <p><strong><li class="fa fa-envira"> <%=  per_cat.name %>
                                              
                                                    <input type="hidden" name="pin_id" value="<%= pin.id %>">
                                                    <input type="hidden" name="personal_category_id" value="<%= per_cat.id %>">  
                                                    <input type="submit" value="( Delete Wine from this Category )" class="button-as-link link-addtowishlist"> 
                                                        </strong></p>
                                              </li>
                                               <% end %>
                                            </ul>
                                        <% end %>
                                  <% end %>
                                  <br>
                                        <!-- ADD to other CATs -->
                             <p><strong>Add Wine to Personal Categories: </p></strong>
                                    <%= form_tag "/personal_category_pins", method: :post do %>
                                      <input type="hidden" name="pin_id" value="<%= pin.id %>">
                                      <div class="row">
                                      <div class="col-md-6">
                                      <select class="form-control" name="personal_category_id" value="personal_category_id">
                                      <%=  current_user.personal_categories.each do |personal_category| %>
                                            <option value= "<%= personal_category.id %>"><span><%= personal_category.name %></span></option>
                                        <% end %>
                                       </select> 
                                       </div>
                                       <div class="col-md-6">
                                       <input type="submit" class="btn btn-primary btn-fullrounded category-btn-right add-button" value="Add to Category">
                                       </div>
                                       </div>
                                      <% end %>

                                  <br>  
                           <!--        Delete PIN from Cellar -->
                                  <%= link_to "Delete Wine from Cellar", "/pins/#{pin.id }", method: :delete, class: "btn btn-primary btn-fullrounded category-btn-right delete-button pull-right" %>  
                               <% else %> 
                                    <p>Please <a href="/login">Login</a> to Edit Cellar</p>
                               <% end %>
                               </div>
                              
                              </div><!--  this ends the second column  -->
                            </div> <!-- this ends the col-md-9 -->
                          <% end %><!--  THIS IS FOR PINS.EACH DO LOOP AT START OF CHAPTER0 -->
                        </div> <!-- for the div class row starting the pins loop -->
                  </div> <!-- ENDS TAB PANE for CHAPTER0 div -->

  <% if @personal_category_count > 0 %><!--  (if the user HAS ANY personal_categories, then display them, otherwise move onto chapter_last) -->

   <% @all_personal_categories.each do |personal_category|%>
      <div class="tab-pane fade" id="chapter_<%= personal_category.id %>">
          <h4><%= personal_category.name %></h4>

          <div class="row">
           <br>

            <% (@pins.order(:updated_at).reverse).each do |pin| %>
              <!--  CHECK if the PIN belongs to this CAT tab -->
              <% if pin.personal_categories.empty? %>
                      <!-- do nothing if pin has no personal_cats attached to it -->
              <% else %>
                  <% pin.personal_categories.each do |pers_categ| %>
                  <% if pers_categ.name == personal_category.name %> <!-- if the pin pers_categ = this one's name, then display the pin info -->
                     <div class="col-md-9 col-sm-12">
                       <div class="col-md-6 col-sm-6 product-index-single">
                          <div class="my-well-cellar-pg">
                            <h4 align="center"><a href ="/wines/<%= pin.wine.id %>"><%= pin.wine.name %></h4><br>
                            <img class= "wine_image center" src=<%= pin.wine.default_image %>></a><br>
                                <p align="center"><i>Expert Rating:</i> <b><%= pin.wine.expert_rating_for_show %></b></p>
                                <p align="center"><i>User Rating:</i> <b><%= pin.wine.user_rating_for_show %></b>  ( based on <b><%= pin.wine.user_rating_count %></b> reviews )</p>
                                <p align="center"><i>Overall Rating:</i> <b><%= pin.wine.overall_rating %></b></p>
                                <br>
                                <p align="center"><i>Region:</i> <b>
                                   <% if pin.wine.region_empty? %>
                                    <%= pin.wine.region.country.name %></b></p>
                                  <% else %>
                                    <%= pin.wine.region.name %>, <%= pin.wine.region.country.name %></b></p>
                                  <% end %>
                                <p align="center"><i>Wine type:</i> <b><%= pin.wine.varietal.wine_type %></b></p>
                                <p align="center"><i>Varietal:</i> <b><%= pin.wine.varietal.name %></b></p>
                                <p align="center"><i>Price:</i> <b><%= number_to_currency(pin.wine.price) %></b></p>
                                <br>

                              <p><strong>Description: </strong></p>
                              <p><%= pin.wine.description %></p>
                              </div>
                              </div>
                            
<!-- this lets you select an existing personal_category to add the pin to (by creating a new personal_category_pin): -->
                            <div class="col-md-6 col-sm-6 product-index-single">
                              <div class="my-well-cellar-pg">

                             <% if current_user %> <!-- (need this so it only displays per_cats of the user?, has matching else end on line 109/111) -->
                                  <!-- DISPLAY current Personal Categories that this Pin belongs to: -->
                                  <p><strong>Personal Categories this Wine belongs to: </p></strong>
                                  <% if pin.personal_categories.empty? %>
                                            <ul>
                                              <strong><li class="fa fa-envira"> N/A</li></strong>
                                            </ul>
                                    <% else %>          
                                        <% pin.personal_categories.each do |per_cat| %>
                                            <ul>
                                          <!--   DELETE PIN FROM CAT LINK-->
                                                <% pcps = pin.personal_category_pins %>
                                                <% pcps.each do |pcp| %>
                                                        <% if pcp.personal_category %>
                                                          <% if pcp.personal_category.name == per_cat.name %>
                                                                 <% @pcp_id = pcp.id %>
                                                          <% end %>
                                                        <% end %>
                                                <% end %>   
                                                 <%= form_tag "/personal_category_pins/#{@pcp_id}", method: :delete do %>
                                              <p><strong><li class="fa fa-envira"> <%=  per_cat.name %>
                                              
                                                    <input type="hidden" name="pin_id" value="<%= pin.id %>">
                                                    <input type="hidden" name="personal_category_id" value="<%= per_cat.id %>">  
                                                    <input type="submit" value="( Delete Wine from this Category )" class="button-as-link link-addtowishlist"> 
                                                        </strong></p>
                                              </li>
                                               <% end %>
                                            </ul>
                                        <% end %>
                                  <% end %>
                                  <br>
                                        <!-- ADD to other CATs -->
                             <p><strong>Add Wine to Personal Categories: </p></strong>
                                    <%= form_tag "/personal_category_pins", method: :post do %>
                                      <input type="hidden" name="pin_id" value="<%= pin.id %>">
                                      <div class="row">
                                      <div class="col-md-6">
                                      <select class="form-control" name="personal_category_id" value="personal_category_id">
                                      <%=  current_user.personal_categories.each do |personal_category| %>
                                            <option value= "<%= personal_category.id %>"><span><%= personal_category.name %></span></option>
                                        <% end %>
                                       </select> 
                                       </div>
                                       <div class="col-md-6">
                                       <input type="submit" class="btn btn-primary btn-fullrounded category-btn-right add-button" value="Add to Category">
                                       </div>
                                       </div>
                                      <% end %>

                                  <br>  
                           <!--        Delete PIN from Cellar -->
                                  <%= link_to "Delete Wine from Cellar", "/pins/#{pin.id }", method: :delete, class: "btn btn-primary btn-fullrounded category-btn-right delete-button pull-right" %>  
                               <% else %><!--  if current_user -->
                                    <p>Please <a href="/login">Login</a> to Edit Cellar</p>
                               <% end %>
                               </div>
                              
                              </div><!--  this ends the second column  -->
                            </div> <!-- this ends the col-md-9 -->
                        <% else %> <!-- this is the else for if pers_categ.name == first_personal_category.name -->
                        <% end %> <!-- this is the end for if pers_categ.name == first_personal_category.name -->
                        <% end %> <!-- this is the pin.persona_category.each loop -->
                        <% end %><!--  this is the if pin.personal_category.empty? else end statement -->
                          <% end %><!--  THIS IS FOR PINS.EACH DO LOOP AT START OF CHAPTER1 -->
                        </div> <!-- for the div class row starting the pins loop -->
                  <!-- </div> --> <!-- ENDS TAB PANE for Chapter1 div -->

                  <!---->
         
                 <!--  < @all_other_personal_categories.each do |personal_category|%>
                      <div class="tab-pane fade" id="chapter_<= personal_category.id %>"> -->
                  <!--      <h4><= personal_category.name %></h4> -->

                        </div> 
                  <% end %>
            <% else %> <!-- (if the user doesn't have any personal_categories, then don't do anything in between tabs) -->
            <% end %> <!-- ends the IF @personal_categories_count > 0 loop -->

                    <!-- this creates a new personal_category from scratch to add the pin to: -->
                    <div class="tab-pane fade" id="chapter_last">
                    <br>
                    <h4>Add New Category:</h4>
                      <%= form_tag "/personal_categories", method: :post do %>
                      <p class="form-inline"><strong><i>Enter Category Name:   <input type="text" class ="new-category-to-right" name="name"></strong></i>
                      <input type="hidden" name="user_id" value="<%= current_user.id %>">
                      <input type="submit" class="btn btn-primary btn-fullrounded btn-sm category-btn-right add-button" value="Create New Category"></p>
                    <% end %>
                    <hr/>
                    <h4>Edit / Delete Category:</h4>

                   <!--     list all with edit / delete buttons version:  -->
                   <div class="col-md-12">
                     <% @all_personal_categories.each do |personal_category| %>
                     <div class="row">
                        <%= form_tag "/personal_categories/#{personal_category.id}", method: :patch do %>
                        <div class="col-md-4 edit-form-padding-right">
                          <p class="form-inline"><strong><%= personal_category.name %>:   <input type="text" class ="new-category-to-right" name="name"></strong>
                          </div>
                          <div class="col-md-8">
                          <input class="btn btn-primary btn-fullrounded btn-sm category-btn-right edit-button" type="submit" value="Edit Category">
                      <%= link_to "Delete Category", "/personal_categories/#{personal_category.id }", method: :delete, class: "btn btn-primary btn-fullrounded btn-sm category-btn-right delete-button" %> 
                        <% end %>
                        </div>
                      </p>
                      </div>
                    <% end %>
                    </div>

                  </div> <!-- (this is div chapter_last) -->
              </div><!--  (this is div tab content) -->


<% else %><!--  (if the USER HAS NO PINS) -->
           
    <!--  START NAV PILL TABS   -->    
            <ul class="nav nav-pills tabs-iconized" role="tablist">
              <li class="active"><a href="#chapter0" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> All Favorite Wines</a></li>

                <% if @personal_category_count > 0 %><!--  (if the user HAS ANY personal_categories) -->
            <!--       <li><a href="#chapter1" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> <= @first_personal_category.name %></a></li> -->
                
                <% @all_personal_categories.each do |personal_category|%>
                  <li><a href="#chapter_<%= personal_category.id %>" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> <%= personal_category.name %></a></li>
                <% end %>

              <% else %> <!-- (if the user doesn't have any personal_categories, then don't do anything in between tabs) -->
              <% end %> <!-- ends the IF @personal_categories_count > 0 loop -->
            <!--   if the user doesn't have any personal_categories, this last tab shows up either way to ADD / Edit cats -->
              <li><a href="#chapter_last" role="tab" data-toggle="tab"><i class="fa fa-envira"></i> Add / Edit Categories</a></li>
            </ul><!--  nav pills list -->


           <!-- NAV PILLS CONTENT --> 
        <!--    CHAPTER 0 -->
              <div class="tab-content">

                <div class="tab-pane fade in active" id="chapter0">
                  <p><strong>Add some wines to your Cellar!</p></strong>
                </div><!--  END CHAPTER 0 -->

            <% if @personal_category_count > 0 %><!--  (if the user HAS ANY personal_categories, then display them, otherwise move onto chapter_last) -->
              <!-- CHAPTERS IN BETWEEN-->
                  <% @all_personal_categories.each do |personal_category|%>
                    <div class="tab-pane fade" id="chapter_<%= personal_category.id %>">
                        <h4><%= personal_category.name %></h4>
                      </div> 
                  <% end %>
              <% else %>
              <% end %>


                <!-- CHAPTER_LAST -->
 <!-- this creates a new personal_category from scratch to add the pin to: -->
              <div class="tab-pane fade" id="chapter_last">
                <br>
                  <h4>Add New Category:</h4>
                    <%= form_tag "/personal_categories", method: :post do %>
                    <p class="form-inline"><strong><i>Enter Category Name:   <input type="text" class ="new-category-to-right" name="name"></strong></i>
                    <input type="hidden" name="user_id" value="<%= current_user.id %>">
                    <input type="submit" class="btn btn-primary btn-fullrounded btn-sm category-btn-right add-button" value="Create New Category"></p>
                  <% end %>
                  <hr/>
                  <h4>Edit / Delete Category:</h4>
                  <br>

                   <!--     list all with EDIT/DELETE buttons version:  -->
                   <div class="col-md-12">
                    <% @all_personal_categories.each do |personal_category| %>
                    <div class="row">
                        <%= form_tag "/personal_categories/#{personal_category.id}", method: :patch do %>
                          <div class="col-md-4 edit-form-padding-right">
                          <p class="form-inline"><strong><%= personal_category.name %>:   <input type="text" class ="new-category-to-right" name="name"></strong>
                          </div>
                          <div class="col-md-8">
                          <input class="btn btn-primary btn-fullrounded btn-sm category-btn-right edit-button" type="submit" value="Edit Category">
            <!--          <= link_to "Edit Category", "/personal_categories/#{personal_category.id}", method: :patch, class: "btn btn-primary btn-fullrounded category-btn-right edit-button" %>  -->
                      <%= link_to "Delete Category", "/personal_categories/#{personal_category.id }", method: :delete, class: "btn btn-primary btn-fullrounded btn-sm category-btn-right delete-button" %> 
                        <% end %>
                        </div> <!-- (this is for col8) -->
                      </p>
                      </div><!--  (this is for row) -->
                    <% end %>
                    </div> <!-- (this is for col 12) -->
                  </div>
              </div><!--  (this is div tab content) -->

 <% end %> <!-- ends first IF current_user.pins (user has pins or no pins if elsif end) -->
</div>



  <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/assets/js/plugins/zoom/jquery.zoom.js"></script>
  <script src="/assets/js/bravana.js"></script>
  <script src="/assets/js/bravana-shop.js"></script>

</body>
</html>

