<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- took out the ID from this one so it would go to the default img-->    
  <div class="page-header has-background-image">
      <div class="overlay background-img-no-overlay"></div>
      <div class="container">
        <h1 class="page-title page-title-new"><%= @page %></h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
<div class="container">
<div class="col-md-11">
  <h2><%=  (Page.where(region_name: @page))[0].region_name %>, <%= (Page.where(region_name: @page))[0].region_country %></h2>
  <br>
  <p align="justify" class="par-pages"><%= (Page.where(region_name: @page))[0].description %></p>
  <p align="justify" class="par-pages"><%= (Page.where(region_name: @page))[0].desc %></p>
</div>
</div>
</div>

