<!-- PAGE HEADER WITH BACKGROUND IMAGE -->
<!-- took out the ID from this one so it would go to the default img-->    
  <body>
  <div class="page-header has-background-image">
      <div class="overlay background-img-no-overlay"></div>
      <div class="container">
        <h1 class="page-title page-title-new"><%= @page %></h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <!-- END PAGE HEADER WITH BACKGROUND IMAGE -->
<div class="container">
<div class="col-md-11">
  <h2><%=  (Page.where(region_name: @page))[0].region_name %>, <%= (Page.where(region_name: @page))[0].region_country %></h2>
  <br>
  <p align="justify" class="par-pages"><%= (Page.where(region_name: @page))[0].description %></p>
  <p align="justify" class="par-pages"><%= (Page.where(region_name: @page))[0].desc %></p>
</div>
</div>
</div>
<br>
<br>
<br>

<!-- CAROUSEL PORTFOLIO SIMPLE -->
<div class="container">
      <div id="carousel-portfolio-simple" class="owl-carousel carousel-portfolio-simple">
        <div>
          <div class="portfolio-simple">
            <a href="/pages/bordeaux"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm1.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/bordeaux"  target="_blank"><h3 class="title">BORDEAUX</h3>
              <span>France</span></a>
              <a href="/pages/bordeaux"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/california"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm2.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/california"  target="_blank"><h3 class="title">CALIFORNIA</h3>
              <span>United States</span></a>
              <a href="/pages/california"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/marlborough"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm3.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/marlborough"  target="_blank"><h3 class="title">MARLBOROUGH</h3>
              <span>New Zealand</span></a>
              <a href="/pages/marlborough"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mendoza"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm4.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mendoza"  target="_blank"><h3 class="title">MENDOZA</h3>
              <span>Argentina</span></a>
              <a href="/pages/mendoza"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mosel"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm5.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mosel"  target="_blank"><h3 class="title">MOSEL</h3>
              <span>Germany</span></a>
              <a href="/pages/mosel"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/rioja"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm6.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/rioja"  target="_blank"><h3 class="title">RIOJA</h3>
              <span>Spain</span></a>
              <a href="/pages/rioja"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/tuscany"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm7.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/tuscany"  target="_blank"><h3 class="title">TUSCANY</h3>
              <span>Italy</span></a>
              <a href="/pages/tuscany"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>
    </div>
    </body>
      <!-- END CAROUSEL PORTFOLIO SIMPLE -->

