<!--This is the 3 panels for random stuff/popular wines/etc -->
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Trending Now</div>
        <div class="panel-body"><img src="https://blogs-images.forbes.com/adammorganstern/files/2015/12/Germany-23-2000px-1200x800.jpg?width=960" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Seasonal treats</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Wine of the Day</div>
        <div class="panel-body"><img src="https://assets.ajmadison.com/image/upload/c_limit,f_auto,fl_lossy.progressive,h_1000,q_auto,w_1000/v1/ajmadison/images/large_no_watermark/E24WC48EPSSmoothGlideSide.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">I'm feeling lucky...</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Best Wines of 2016</div>
        <div class="panel-body"><img src="https://grapecollective.com/media/wysiwyg/castelgiocondo-003.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Last harvest's stars</div>
      </div>
    </div>
  </div>
</div><br><br>

<div class="container-fluid">
<div class="row">
  <% @wines.each do |wine| %>
   <div class="col-md-4 col-sm-6 product-index-single">
      <div class="well">
        <h2><a href ="/wines/<%= wine.id %>"><%= wine.producer.name %> <%= wine.vintage %> <%= wine.name %> <%= wine.varietal.name %> (<%= wine.region.name %>)</a></h2>
        <h3>Expert Rating: <%= wine.expert_rating %></h3>
        <h3>Wine type: <%= wine.varietal.wine_type %></h3>
        <h3>Country: <%= wine.region.country.name %></h3>
        <img class= "wine_image center" src=<%= wine.default_image %>>
        <h4>Price: <%= number_to_currency(wine.price) %></h4>
        <h4><%= wine.description %></h4>
      </div>
    </div>
  <% end %>
</div>
</div>
