
<!-- PAGE HEADER DEFAULT -->
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left"></h1>
        <ol class="breadcrumb link-accent">
          <li><a href="#">Breadcrumb1</a></li>
          <li><a href="#">Breadcrumb2</a></li>
          <li class="active">Red wines or whatever current one</li>
        </ol>
      </div>
    </div>
    <!-- END PAGE HEADER DEFAULT -->

     <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-2"> <!-- (beginning of sidebar filters) -->

<!-- WINE TYPE START -->
          <!-- WINE_TYPE ==> VARIETAL only -->
          <% if params[:user_wine_type].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: VARIETAL (from type)</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_wine_type]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_varietal=<%= varietal %>&from_type=<%= params[:from_type] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

            <!-- WINE_TYPE ==> COUNTRY only-->
          <% if params[:user_wine_type].present? && params[:from_type].present? && !params[:user_varietal].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: COUNTRY (from type)</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.country_types(params[:user_wine_type]).each do |country| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_country=<%= country %>&from_type=<%= params[:from_type] %>"><%= country %></a>

                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

             <!-- WINE_TYPE ==> VARIETAL ==> COUNTRY -->
          <% if params[:user_wine_type].present? && params[:user_varietal].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: COUNTRY (from type)</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.country_types(params[:user_wine_type]).each do |country| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_varietal=<%= params[:user_varietal] %>&user_country=<%= country %>&from_type=<%= params[:from_type] %>"><%= country %></a>

                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

              <!-- WINE_TYPE ==> REGION only-->
          <% if params[:user_wine_type].present? && !params[:user_varietal].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: REGION (from type)</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.region_types(params[:user_wine_type]).each do |region| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_region=<%= region %>&from_type=<%= params[:from_type] %>"><%= region %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
             <!-- END FILTER -->

           <!-- WINE_TYPE ==> VARIETAL ==> REGION -->
          <% if params[:user_wine_type].present? && params[:user_varietal].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: REGION (from type)</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.region_types(params[:user_wine_type]).each do |region| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_varietal=<%= params[:user_varietal] %>&user_region=<%= region %>&from_type=<%= params[:from_type] %>"><%= region %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!-- END WINE TYPE -->

<!-- VARIETAL START -->

            <!-- VARIETAL ==> COUNTRY only-->
          <% if params[:user_varietal].present? && params[:from_var].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: COUNTRY(from var)</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.country_types(params[:user_varietal]).each do |country| %>
                 <li> <a href="/wines/?user_varietal=<%= params[:user_varietal]%>&user_country=<%= country %>&from_var=<%= params[:from_var] %>"><%= country %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
               
             <!-- VARIETAL ==> REGION only-->
          <% if params[:user_varietal].present? && params[:from_var].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: REGION (from var)</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.region_types(params[:user_varietal]).each do |region| %>
                 <li> <a href="/wines/?user_varietal=<%= params[:user_varietal]%>&user_region=<%= region %>&from_var=<%= params[:from_var] %>"><%= region %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

            <!-- DOES NOT WORK - FILTER by VARIETAL into COUNTRY THEN REGION-->
        <!--     < if params[:user_varietal].present? && params[:user_country].present? && !params[:user_wine_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: REGION</h4>
              <ul class="list-unstyled product-attribute-link-list">
                < Wine.region_types(params[:user_varietal]).each do |region| %>
                 <li> <a href="/wines/?user_varietal=<= params[:user_varietal]%>&user_country=<= params[:user_country]%>&user_region=<= region %>"<= region %></a>
                </li>
                < end %>
              </ul>
            </div>
            < end %> -->
            <!-- END FILTER -->

     
<!-- END VARIETAL -->

<!-- COUNTRY  START -->

            <!-- COUNTRY ==> WINE_TYPE -->
          <% if params[:user_country].present? && params[:from_country].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: WINE TYPE (from country)</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.wine_type(params[:user_country]).each do |wine_type| %>
                  <li>
                    <a href="/wines/?user_country=<%=params[:user_country]%>&user_wine_type=<%= wine_type %>&from_country=<%= params[:from_country] %>"><%= wine_type %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

               <!-- COUNTRY ==> VARIETAL -->
          <% if params[:user_country].present? && params[:from_country].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: VARIETAL (from country)</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_country]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_country=<%=params[:user_country]%>&user_varietal=<%= varietal %>&from_country=<%= params[:from_country] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!-- END COUNTRY -->

<!-- REGION  START -->    
         <% if params[:user_region].present? && params[:from_region].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">Filter by: WINE TYPE (from region)</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:user_region]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?user_region=<%=params[:user_region]%>&user_wine_type=<%= wine_type %>&from_region=<%= params[:from_region] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %> 
          <% if params[:user_region].present? && params[:from_region].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">Filter by: VARIETAL (from region)</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_region]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_region=<%=params[:user_region]%>&user_varietal=<%= varietal %>&from_region=<%= params[:from_region] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
<!--   END REGION -->

<!-- VINTAGE  START -->    
      


<!--       END VINTAGE       -->

<!-- PRICE  START -->    
      


<!--       END PRICE       -->

<!-- EXPERT  START -->    
      


<!--       END EXPERT       -->

<!-- USER  START -->    
      


<!--       END USER       -->

<!-- OVERLL  START -->    
      


<!--       END OVERALL       -->

<!-- SEARCH BOX  START -->    
      


<!--       END SEARCH BOX       -->



            </div> <!-- this one is for col-md-2 (beginning of sidebar filters) -->

          <div class="col-md-10"><!--  (beginning of wine grid) -->
            <!-- PRODUCT DISPLAY -->
            <div class="product-display">
              <!-- DISPLAY CONTROLS --> <!-- FILTERING FROM TOP DROPDOWN -->
              <span class="top-of-results">
              <div class="display-controls clearfix">
                <div class="controls-left">
                <%= form_tag "/wines" , method: :get, class: "form-inline" do %>
                    <div class="form-group">
                      <label>Sort by:</label>
                    <input type="hidden" name="user_wine_type" value="<%= params[:user_wine_type] %>">
                    <input type="hidden" name="from_type" value="<%= params[:from_type] %>">

                      <input type="hidden" name="user_varietal" value="<%= params[:user_varietal] %>">
                      <input type="hidden" name="from_var" value="<%= params[:from_var] %>">

                      <input type="hidden" name="user_country" value="<%= params[:user_country] %>">
                       <input type="hidden" name="from_country" value="<%= params[:from_country] %>">

                       <input type="hidden" name="user_region" value="<%= params[:user_region] %>">
                       <input type="hidden" name="from_region" value="<%= params[:from_region] %>">


                      <select class="form-control" name="dropdown_filter">
                        <option value="user_rating_high">User Rating (High - Low)</option>
                        <option value="expert_rating_high">Expert Rating (High - Low)</option>
                        <option value="overall_rating_high">Overall Rating (High - Low)</option>
                        <option value="price_lowest">Price Lowest</option>
                        <option value="price_highest">Price Highest</option>
                        <option value="most_reviewed">Popularity</option>
                      </select>
                    </div>
                    <button type="submit">Apply</button>
                  <% end %>

        
                </div>

<!-- PAGINATION DO LATER IF HAVE TIME -->
            <!--     <div class="controls-right">
                  <ul class="pagination borderless">
                    <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a></li>
                  </ul>
                </div> -->
                <br>
                <br>
                </span> <!-- top of results class -->
              </div> <!-- this one is for display-controls clearfix -->

              <!-- END DISPLAY CONTROLS -->

                <!-- PRODUCT GRID -->
              <ul class="list-inline row product-grid product-index-single">
              <% if @wines %>
               <% @wines.each do |wine| %>
                <li class="col-md-4 col-sm-6">
                <div class="my-well-index-pg">
                  <div class="product-item">
                      <h4 class="title"><a href="/wines/<%= wine.id %>"><%= wine.name %></a></h4>
                    <a href="/wines/<%= wine.id %>">
                      <img class= "wine_image center" src="<%= wine.default_image %>" class="img-responsive" alt="Product Image">
                    </a><br><br>
                    <div class="product-info">
                            <p><i>Region:</i> <b>
                                 <% if wine.region_empty? %>
                                  <%= wine.region.country.name %></b></p>
                                <% else %>
                                  <%= wine.region.name %>, <%= wine.region.country.name %></b></p>
                                <% end %>
                            <p><i>Wine type:</i> <b><%= wine.varietal.wine_type %></b></p>
                            <p><i>Varietal:</i> <b><%= wine.varietal.name %></b></p>
                            <p><i>Price:</i> <b><%= number_to_currency(wine.price) %></b></p>
                            <br>
                            <p><i>Expert Rating:</i> <b><%= wine.expert_rating_for_show %></b></p>
                            <p><i>User Rating:</i> <b><%= wine.user_rating_for_show %></b>  ( based on <b><%= wine.user_rating_count %></b> reviews )</p>
                            <p><i>Overall Rating:</i> <b><%= wine.overall_rating %></b></p><br>
                
                  <!--     <div class="bottom">
                      <p class="short-description"><i><%= wine.description %></i></p>
                      </div> -->
                    </div>
                  </div>
                  </div>
                </li>
                <% end %>
                <% end %>
              </ul>
              <!-- END PRODUCT GRID -->
            </div>
            <!-- PRODUCT DISPLAY -->
          </div> <!-- this one is for col-md-10 -->
        </div>
      </div>
    </div>




    <!-- END FOOTER -->
    <div class="back-to-top">
      <a href="#top"><i class="fa fa-chevron-up"></i></a>
    </div>

  <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/assets/js/plugins/range-slider/ion.rangeSlider.min.js"></script>
  <script src="/assets/js/bravana.js"></script>
  <script src="/assets/js/bravana-shop.js"></script>



<!--     <section class="no-padding-bottom">
      <div class="container">
        <h2 class="section-heading">DUMMY CONTENT</h2>
        <p>Compellingly repurpose superior leadership skills vis-a-vis high-quality quality vectors. Objectively repurpose value-added experiences vis-a-vis resource sucking results. Credibly productize professional infomediaries without accurate platforms. Energistically architect timely "outside the box" thinking without adaptive niches. Enthusiastically innovate focused products with.</p>
        <p>Objectively matrix customer directed communities and one-to-one paradigms. Intrinsicly create prospective core competencies whereas mission-critical schemas. Distinctively transform optimal ROI rather than optimal "outside the box" thinking. Competently disseminate granular methodologies rather than next-generation users. Interactively innovate client-centric supply chains with virtual sources. Phosfluorescently network principle-centered niche markets through client-focused schemas. Energistically facilitate leading-edge models whereas alternative niches. Compellingly engage revolutionary communities without state of the art niches. Distinctively empower backward-compatible networks through 24/7.</p>
      </div> 
 <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50">
        <div class="container">
          <h2 class="heading">An elegant Bootstrap theme with tons of features</h2>
         
        </div>
      </div>
    </section> 
 -->

 <script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>

 
