<!--This is the 3 panels for random stuff/popular wines/etc -->
<!-- <br>
<br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading panel-primary">Trending Now</div>
        <div class="panel-body"><a href ="/pages/trending"><img src="https://blogs-images.forbes.com/adammorganstern/files/2015/12/Germany-23-2000px-1200x800.jpg?width=960" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/trending">Seasonal treats</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading panel-primary">Wine of the Day</div>
        <div class="panel-body"><a href ="/pages/wineofday"><img src="https://assets.ajmadison.com/image/upload/c_limit,f_auto,fl_lossy.progressive,h_1000,q_auto,w_1000/v1/ajmadison/images/large_no_watermark/E24WC48EPSSmoothGlideSide.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/wineofday">I'm feeling lucky...</a></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading panel-primary">Best Wines of 2016</div>
        <div class="panel-body"><a href ="/pages/bestof2016"><img src="https://grapecollective.com/media/wysiwyg/castelgiocondo-003.jpg" class="img-responsive" style="width:100%" alt="Image"></a></div>
        <div class="panel-footer"><a href ="/pages/bestof2016">Last harvest's stars</a></div>
      </div>
    </div>
  </div>
</div><br><br> -->

<br>
<br>
<div class="container-fluid">
<div class="row">
  <% @wines.each do |wine| %>
   <div class="col-md-4 col-sm-6 product-index-single">
      <div class="well">
        <h2><a href ="/wines/<%= wine.id %>"><%= wine.producer.name %> <%= wine.vintage %> <%= wine.name %> <%= wine.varietal.name %> (<%= wine.region.name %>)</a></h2>
        <h3>Expert Rating: <%= wine.expert_rating %></h3>
        <h3>Wine type: <%= wine.varietal.wine_type %></h3>
        <h3>Country: <%= wine.region.country.name %></h3>
        <img class= "wine_image center" src=<%= wine.default_image %>>
        <h4>Price: <%= number_to_currency(wine.price) %></h4>
        <h4><%= wine.description %></h4>
      </div>
    </div>
  <% end %>
</div>
</div>

    <section class="no-padding-bottom">
      <div class="container">
        <h2 class="section-heading">DUMMY CONTENT</h2>
        <p>Compellingly repurpose superior leadership skills vis-a-vis high-quality quality vectors. Objectively repurpose value-added experiences vis-a-vis resource sucking results. Credibly productize professional infomediaries without accurate platforms. Energistically architect timely "outside the box" thinking without adaptive niches. Enthusiastically innovate focused products with.</p>
        <p>Objectively matrix customer directed communities and one-to-one paradigms. Intrinsicly create prospective core competencies whereas mission-critical schemas. Distinctively transform optimal ROI rather than optimal "outside the box" thinking. Competently disseminate granular methodologies rather than next-generation users. Interactively innovate client-centric supply chains with virtual sources. Phosfluorescently network principle-centered niche markets through client-focused schemas. Energistically facilitate leading-edge models whereas alternative niches. Compellingly engage revolutionary communities without state of the art niches. Distinctively empower backward-compatible networks through 24/7.</p>
      </div> 
 <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50">
        <div class="container">
          <h2 class="heading">An elegant Bootstrap theme with tons of features</h2>
         
        </div>
      </div>
    </section> 
