<html>
<body>
<!-- PAGE HEADER DEFAULT -->
    <div class="page-header">
      <div class="container">
        <h1 class="page-title pull-left"></h1>
       <ol class="breadcrumb">
        <%= render_breadcrumbs :tag => :li, :separator => "" %>
      </ol>
      </div>
    </div>
    <!-- END PAGE HEADER DEFAULT -->

     <!-- PAGE CONTENT -->
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-2"> <!-- (beginning of sidebar filters) -->

<!-- WINE TYPE START -->
          <!-- WINE_TYPE ==> VARIETAL only -->
          <% if params[:user_wine_type].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_wine_type]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_varietal=<%= varietal %>&from_type=<%= params[:from_type] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

            <!-- WINE_TYPE ==> COUNTRY only-->
          <% if params[:user_wine_type].present? && params[:from_type].present? && !params[:user_varietal].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.country_types(params[:user_wine_type]).each do |country| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_country=<%= country %>&from_type=<%= params[:from_type] %>"><%= country %></a>

                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

             <!-- WINE_TYPE ==> VARIETAL ==> COUNTRY -->
          <% if params[:user_wine_type].present? && params[:user_varietal].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.country_types(params[:user_wine_type]).each do |country| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_varietal=<%= params[:user_varietal] %>&user_country=<%= country %>&from_type=<%= params[:from_type] %>"><%= country %></a>

                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

              <!-- WINE_TYPE ==> REGION only-->
          <% if params[:user_wine_type].present? && !params[:user_varietal].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">REGION:</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.region_types(params[:user_wine_type]).each do |region| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_region=<%= region %>&from_type=<%= params[:from_type] %>"><%= region %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
             <!-- END FILTER -->

           <!-- WINE_TYPE ==> VARIETAL ==> REGION -->
          <% if params[:user_wine_type].present? && params[:user_varietal].present? && params[:from_type].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">REGION:</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.region_types(params[:user_wine_type]).each do |region| %>
                 <li> <a href="/wines/?user_wine_type=<%= params[:user_wine_type]%>&user_varietal=<%= params[:user_varietal] %>&user_region=<%= region %>&from_type=<%= params[:from_type] %>"><%= region %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!-- END WINE TYPE -->

<!-- VARIETAL START -->

            <!-- VARIETAL ==> COUNTRY only-->
          <% if params[:user_varietal].present? && params[:from_var].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.country_types(params[:user_varietal]).each do |country| %>
                 <li> <a href="/wines/?user_varietal=<%= params[:user_varietal]%>&user_country=<%= country %>&from_var=<%= params[:from_var] %>"><%= country %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>
               
             <!-- VARIETAL ==> REGION only-->
          <% if params[:user_varietal].present? && params[:from_var].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">REGION:</h4>
              <ul class="list-unstyled product-attribute-link-list">
              <% Wine.region_types(params[:user_varietal]).each do |region| %>
                 <li> <a href="/wines/?user_varietal=<%= params[:user_varietal]%>&user_region=<%= region %>&from_var=<%= params[:from_var] %>"><%= region %></a>
                </li>
                <% end %>
              </ul>
            </div>
          <% end %>

     
<!-- END VARIETAL -->

<!-- COUNTRY  START -->

            <!-- COUNTRY ==> WINE_TYPE -->
          <% if params[:user_country].present? && params[:from_country].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">WINE TYPE:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.wine_type(params[:user_country]).each do |wine_type| %>
                  <li>
                    <a href="/wines/?user_country=<%=params[:user_country]%>&user_wine_type=<%= wine_type %>&from_country=<%= params[:from_country] %>"><%= wine_type %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

               <!-- COUNTRY ==> VARIETAL -->
          <% if params[:user_country].present? && params[:from_country].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_country]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_country=<%=params[:user_country]%>&user_varietal=<%= varietal %>&from_country=<%= params[:from_country] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!-- END COUNTRY -->

<!-- REGION  START -->    
         <% if params[:user_region].present? && params[:from_region].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:user_region]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?user_region=<%=params[:user_region]%>&user_wine_type=<%= wine_type %>&from_region=<%= params[:from_region] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %> 
          <% if params[:user_region].present? && params[:from_region].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_region]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_region=<%=params[:user_region]%>&user_varietal=<%= varietal %>&from_region=<%= params[:from_region] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
<!--   END REGION -->

<!-- VINTAGE  START -->           
              <% if params[:sort].present? && params[:sort] == "vintage" && params[:from_vintage].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:sort]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_wine_type=<%= wine_type %>&from_vintage=<%= params[:from_vintage] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %>  
          <% if params[:sort].present? && params[:sort] == "vintage" && params[:from_vintage].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:sort]).each do |varietal| %>
                  <li>
                    <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_varietal=<%= varietal %>&from_vintage=<%= params[:from_vintage] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 

          <% if params[:sort].present? && params[:sort] == "vintage" && params[:from_vintage].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:sort]).each do |country| %>
                  <li>
                    <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_country=<%= country %>&from_vintage=<%= params[:from_vintage] %>"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
    

<!--       END VINTAGE       -->

<!-- PRICE  START -->    
          <% if params[:sort].present? && params[:sort] == "price" && params[:from_price].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:sort]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_wine_type=<%= wine_type %>&from_price=<%= params[:from_price] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %>  
          <% if params[:sort].present? && params[:sort] == "price" && params[:from_price].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:sort]).each do |varietal| %>
                  <li>
                    <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_varietal=<%= varietal %>&from_price=<%= params[:from_price] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 

            <% if params[:sort].present? && params[:sort] == "price" && params[:from_price].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:sort]).each do |country| %>
                  <li>
                    <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_country=<%= country %>&from_price=<%= params[:from_price] %>"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
      


<!--       END PRICE       -->

<!-- EXPERT  START -->    
      <% if params[:sort].present? && params[:sort] == "expert_rating" && params[:from_exp_rating].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:sort]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_wine_type=<%= wine_type %>&from_exp_rating=<%= params[:from_exp_rating] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %>  
          <% if params[:sort].present? && params[:sort] == "expert_rating" && params[:from_exp_rating].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:sort]).each do |varietal| %>
                  <li>
                    <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_varietal=<%= varietal %>&from_exp_rating=<%= params[:from_exp_rating] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
          <% if params[:sort].present? && params[:sort] == "expert_rating" && params[:from_exp_rating].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:sort]).each do |country| %>
                  <li>
                    <a href="/wines/?sort=<%=params[:sort]%>&sort_min=<%= params[:sort_min] %>&sort_max=<%= params[:sort_max] %>&sort_order=<%= params[:sort_order] %>&user_country=<%= country %>&from_exp_rating=<%= params[:from_exp_rating] %>"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
      


<!--       END EXPERT       -->

<!-- USER  START -->  
        <% if params[:user_sort].present? && params[:from_user_rating].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:user_sort]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?user_sort=<%=params[:user_sort]%>&sort_order=<%= params[:sort_order] %>&user_wine_type=<%= wine_type %>&from_user_rating=<%= params[:from_user_rating] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %>    
        <% if params[:user_sort].present? && params[:from_user_rating].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:user_sort]).each do |varietal| %>
                  <li>
                    <a href="/wines/?user_sort=<%=params[:user_sort]%>&sort_order=<%= params[:sort_order] %>&user_varietal=<%= varietal %>&from_user_rating=<%= params[:from_user_rating] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
          <% if params[:user_sort].present? && params[:from_user_rating].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:user_sort]).each do |country| %>
                  <li>
                    <a href="/wines/?user_sort=<%=params[:user_sort]%>&sort_order=<%= params[:sort_order] %>&user_country=<%= country %>&from_user_rating=<%= params[:from_user_rating] %>"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
      


<!--       END USER       -->

<!-- OVERALL  START -->  
        <% if params[:overall_sort].present? && params[:from_overall_rating].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:overall_sort]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?overall_sort=<%=params[:overall_sort]%>&sort_order=<%= params[:sort_order] %>&user_wine_type=<%= wine_type %>&from_overall_rating=<%= params[:from_overall_rating] %>"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %>  
             <% if params[:overall_sort].present? && params[:from_overall_rating].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:overall_sort]).each do |varietal| %>
                  <li>
                    <a href="/wines/?overall_sort=<%=params[:overall_sort]%>&sort_order=<%= params[:sort_order] %>&user_varietal=<%= varietal %>&from_overall_rating=<%= params[:from_overall_rating] %>"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %>     
          <% if params[:overall_sort].present? && params[:from_overall_rating].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:overall_sort]).each do |country| %>
                  <li>
                    <a href="/wines/?overall_sort=<%=params[:overall_sort]%>&sort_order=<%= params[:sort_order] %>&user_country=<%= country %>&from_overall_rating=<%= params[:from_overall_rating] %>"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
      


<!--       END OVERALL       -->

<!-- SEARCH BOX  START -->    

    <!-- SEARCH BOX ==> VARIETAL -->
          <% if params[:search_term].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:search_term]).each do |varietal| %>
                  <li>
                    <a href="/wines/?search_term=<%=params[:search_term]%>&user_varietal=<%= varietal %>&from_search=true"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <% if params[:search_term].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:search_term]).each do |country| %>
                  <li>
                    <a href="/wines/?search_term=<%=params[:search_term]%>&user_country=<%= country %>&from_search=true"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
      
<!--       END SEARCH BOX       -->

<!-- PAGES START -->   

<!-- PAGES  (trending) ==> wine_type -->
    <% if params[:page_trending].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:page_trending]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?page_trending=<%=params[:page_trending]%>&user_wine_type=<%= wine_type %>&from_pages=true"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %> 
    <!-- trending ==> varietal -->
          <% if params[:page_trending].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:page_trending]).each do |varietal| %>
                  <li>
                    <a href="/wines/?page_trending=<%=params[:page_trending]%>&user_varietal=<%= varietal %>&from_pages=true"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!--   trending ==> country-->
          <% if params[:page_trending].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:page_trending]).each do |country| %>
                  <li>
                    <a href="/wines/?page_trending=<%=params[:page_trending]%>&user_country=<%= country %>&from_pages=true"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 

<!-- PAGES  (wine of day) ==> wine_type -->
      <% if params[:page_wine_of_day].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:page_wine_of_day]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?page_wine_of_day=<%=params[:page_wine_of_day]%>&user_wine_type=<%= wine_type %>&from_pages=true"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %> 
    <!-- wine of day ==> varietal -->
          <% if params[:page_wine_of_day].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:page_wine_of_day]).each do |varietal| %>
                  <li>
                    <a href="/wines/?page_wine_of_day=<%=params[:page_wine_of_day]%>&user_varietal=<%= varietal %>&from_pages=true"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!--   wine of day ==> country-->
          <% if params[:page_wine_of_day].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:page_wine_of_day]).each do |country| %>
                  <li>
                    <a href="/wines/?page_wine_of_day=<%=params[:page_wine_of_day]%>&user_country=<%= country %>&from_pages=true"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 
  <!-- PAGES  (best of) ==> wine_type -->
    <% if params[:page_best_of].present? %>
                  <div class="widget widget-filter">
                    <h4 class="widget-title">WINE TYPE:</h4>
                    <ul class="list-unstyled product-attribute-link-list">
                      <% Wine.wine_type(params[:page_best_of]).each do |wine_type| %>
                        <li>
                          <a href="/wines/?page_best_of=<%=params[:page_best_of]%>&user_wine_type=<%= wine_type %>&from_pages=true"><%= wine_type %></a>
                        </li>
                      <% end %>
                    </ul>
                  </div>
          <% end %> 
    <!-- best of ==> varietal -->
          <% if params[:page_best_of].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">VARIETAL:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.varietal_types(params[:page_best_of]).each do |varietal| %>
                  <li>
                    <a href="/wines/?page_best_of=<%=params[:page_best_of]%>&user_varietal=<%= varietal %>&from_pages=true"><%= varietal %></a>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>

<!--   best of ==> country-->
          <% if params[:page_best_of].present? %>
            <div class="widget widget-filter">
              <h4 class="widget-title">COUNTRY:</h4>
              <ul class="list-unstyled product-attribute-link-list">
                <% Wine.country_types(params[:page_best_of]).each do |country| %>
                  <li>
                    <a href="/wines/?page_best_of=<%=params[:page_best_of]%>&user_country=<%= country %>&from_pages=true"><%= country %></a>
                  </li>
                <% end %>
              </ul>
            </div>
            <% end %> 

<!--       END  PAGES       -->



            </div> <!-- this one is for col-md-2 (beginning of sidebar filters) -->

          <div class="col-md-10"><!--  (beginning of wine grid) -->
            <!-- PRODUCT DISPLAY -->
            <div class="product-display">
              <!-- DISPLAY CONTROLS --> <!-- FILTERING FROM TOP DROPDOWN -->
              <div class="display-controls clearfix one-line row">
           <!--    <span class="top-of-results"> tried adding this myself it didn't do anything-->
                <div class="controls-left">
                <%= form_tag "/wines" , method: :get, class: "form-inline" do %>
                    <div class="form-group">
                      <label>Sort by:</label>
                        <input type="hidden" name="user_wine_type" value="<%= params[:user_wine_type] %>">
                        <input type="hidden" name="from_type" value="<%= params[:from_type] %>">

                          <input type="hidden" name="user_varietal" value="<%= params[:user_varietal] %>">
                          <input type="hidden" name="from_var" value="<%= params[:from_var] %>">

                          <input type="hidden" name="user_country" value="<%= params[:user_country] %>">
                           <input type="hidden" name="from_country" value="<%= params[:from_country] %>">

                           <input type="hidden" name="user_region" value="<%= params[:user_region] %>">
                           <input type="hidden" name="from_region" value="<%= params[:from_region] %>">

                            <input type="hidden" name="sort" value="<%= params[:sort] %>">
                            <input type="hidden" name="sort_order" value="<%= params[:sort_order] %>">
                            <input type="hidden" name="sort_min" value="<%= params[:sort_min] %>">
                            <input type="hidden" name="sort_max" value="<%= params[:sort_max] %>">

                            <input type="hidden" name="from_vintage" value="<%= params[:from_vintage] %>">
                            <input type="hidden" name="from_price" value="<%= params[:from_price] %>">
                            <input type="hidden" name="from_exp_rating" value="<%= params[:from_exp_rating] %>">


                            <input type="hidden" name="user_sort" value="<%= params[:user_sort] %>">
                           <input type="hidden" name="from_user_rating" value="<%= params[:from_user_rating] %>">

                           <input type="hidden" name="overall_sort" value="<%= params[:overall_sort] %>">
                           <input type="hidden" name="from_overall_rating" value="<%= params[:from_overall_rating] %>">

                          <input type="hidden" name="search_term" value="<%= params[:search_term] %>">
                           <input type="hidden" name="from_search" value="<%= params[:from_search] %>">

                           <input type="hidden" name="page_trending" value="<%= params[:page_trending] %>">         <input type="hidden" name="page_wine_of_day" value="<%= params[:page_wine_of_day] %>">
                           <input type="hidden" name="page_best_of" value="<%= params[:page_best_of] %>">

                           <input type="hidden" name="from_pages" value="<%= params[:from_pages] %>">


                            <select class="form-control" name="dropdown_filter">
                              <option value="user_rating_high">User Rating (High - Low)</option>
                              <option value="expert_rating_high">Expert Rating (High - Low)</option>
                              <option value="overall_rating_high">Overall Rating (High - Low)</option>
                              <option value="price_lowest">Price Lowest</option>
                              <option value="price_highest">Price Highest</option>
                              <option value="most_reviewed">Popularity</option>
                            </select>
                        </div> <!-- (this is for form group) -->
                    <button type="submit" class="btn btn-success add-button"><i class="fa fa-check"></i> Apply</button>
                  <% end %>
                </div> <!-- (this is for controls-left) -->

<!-- PAGINATION FIX LATER IF HAVE TIME -->
                <div class="controls-right top-pagination-index-pg">

                  <ul class="pagination borderless">
                  <!--   <li class="disabled"><a href="#"><i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a></li>
                    <li class="active"><a href="#">1</a></li> -->
                  <%= will_paginate @wines, inner_window: 1, outer_window: 1, renderer: BootstrapPagination::Rails, class: "pagination borderless controls-right" %>
                   <!--  <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i><span class="sr-only">Next</span></a></li> -->
                  </ul>
                </div> <!-- (this is for controls-right) -->
<!--                 END PAGINATION -->                
          <!-- </span> top of results class --> 
              </div> <!-- this one is for display-controls clearfix -->

              <!-- END DISPLAY CONTROLS -->

                <!-- PRODUCT GRID -->
              <ul class="list-inline row product-grid product-index-single">
              <% if @wines %>
               <% @wines.each do |wine| %>
                <li class="col-md-4 col-sm-6">
                <div class="my-well-index-pg">
                  <div class="product-item">
                      <h4 class="title" align="center"><a href="/wines/<%= wine.id %>"><%= wine.name %></a></h4>
                    <a href="/wines/<%= wine.id %>">
                      <img class= "wine_image center" src="<%= wine.default_image %>" class="img-responsive" alt="Product Image">
                    </a><br><br>
                    <div class="product-info">
                            <p><i>Region:</i> <b>
                                 <% if wine.region_empty? %>
                                  <%= wine.region.country.name %></b></p>
                                <% else %>
                                  <%= wine.region.name %>, <%= wine.region.country.name %></b></p>
                                <% end %>
                            <p><i>Wine type:</i> <b><%= wine.varietal.wine_type %></b></p>
                            <p><i>Varietal:</i> <b><%= wine.varietal.name %></b></p>
                            <%if wine.price %>
                            <p><i>Price:</i> <b><%= number_to_currency(wine.price) %></b></p>
                            <% else %>
                            <p><i>Price:</i> <b><%= wine.price_for_show %></b></p>
                            <% end %>
                            <br>
                            <p><i>Expert Rating:</i> <b><%= wine.expert_rating_for_show %></b></p>
                            <p><i>User Rating:</i> <b><%= wine.user_rating_for_show %></b>  ( based on <b><%= wine.user_rating_count %></b> reviews )</p>
                            <p><i>Overall Rating:</i> <b><%= wine.overall_rating %></b></p><br>
                
                  <!--     <div class="bottom">
                      <p class="short-description"><i><%= wine.description %></i></p>
                      </div> -->
                    </div>
                  </div>
                  </div>
                </li>
                <% end %>
                <% end %>
              </ul>
              <!-- END PRODUCT GRID -->
            </div>
            <!-- PRODUCT DISPLAY -->
          </div> <!-- this one is for col-md-10 -->
        </div>
      </div>
    </div>

    <!-- CAROUSEL PORTFOLIO SIMPLE -->
      <div id="carousel-portfolio-simple" class="owl-carousel carousel-portfolio-simple">
        <div>
          <div class="portfolio-simple">
            <a href="/pages/bordeaux"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm1.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/bordeaux"  target="_blank"><h3 class="title">BORDEAUX</h3>
              <span>France</span></a>
              <a href="/pages/bordeaux"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/california"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm2.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/california"  target="_blank"><h3 class="title">CALIFORNIA</h3>
              <span>United States</span></a>
              <a href="/pages/california"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/marlborough"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm3.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/marlborough"  target="_blank"><h3 class="title">MARLBOROUGH</h3>
              <span>New Zealand</span></a>
              <a href="/pages/marlborough"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mendoza"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm4.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mendoza"  target="_blank"><h3 class="title">MENDOZA</h3>
              <span>Argentina</span></a>
              <a href="/pages/mendoza"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/mosel"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm5.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/mosel"  target="_blank"><h3 class="title">MOSEL</h3>
              <span>Germany</span></a>
              <a href="/pages/mosel"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/rioja"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm6.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/rioja"  target="_blank"><h3 class="title">RIOJA</h3>
              <span>Spain</span></a>
              <a href="/pages/rioja"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
        <div>
          <div class="portfolio-simple">
            <a href="/pages/tuscany"  target="_blank"><img src="/assets/img/portfolio/portfolio-sm7.jpg" class="img-responsive" alt="Portfolio"></a>
            <div class="info">
              <a href="/pages/tuscany"  target="_blank"><h3 class="title">TUSCANY</h3>
              <span>Italy</span></a>
              <a href="/pages/tuscany"  target="_blank" class="btn btn-primary btn-sm">DETAILS</a>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>
      <!-- END CAROUSEL PORTFOLIO SIMPLE -->




  <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/assets/js/plugins/zoom/jquery.zoom.js"></script>
  <script src="/assets/js/bravana.js"></script>
  <script src="/assets/js/bravana-shop.js"></script>


 <script src='https://cdn.rawgit.com/naptha/tesseract.js/1.0.10/dist/tesseract.js'></script>

</body>
</html>

 
