<html>
<body>

    <!-- BREADCRUMBS -->
    <div class="page-header breadcrumbs-only">
      <div class="container">
        <ol class="breadcrumb link-accent">
          <li><a href="#">Red vs White vs Rose etc</a></li>
          <li><a href="#">Varietal Riesling etc</a></li>
          <li><a href="#">Country</a></li>
          <li><a href="#">Region</a></li>
          <li class="active">Wine name is the active link</li>
        </ol>
      </div>
    </div>
    <!-- END BREADCRUMBS -->
    <div class="page-content product-single">
      <div class="container wine-show-pg-container-space">

<!-- IMAGE AND RATINGS BOX -->
<div class="container-fluid">
<div class="row">
  <div class="col-md-4 col-sm-6">
      <div class="well my-well-show-pg box1and2">
    <img src=<%= @wine.default_image %>>
       <h5 class="element1">Expert Rating: <%= @wine.expert_rating_for_show %></h5><h5 class="element2">User Rating: <%= @wine.user_rating_for_show%></h5>
        <h5 align="center">Overall Rating: <%= @wine.overall_rating_for_show %></h5>
      </div>
    </div>

<!-- MAIN WINE INFO BOX -->
   <div class="col-md-4 col-sm-6">
      <div class="well my-well-show-pg box1and2">
        <h4 class="product-title"><a href ="/wines/<%= @wine.id %>"><%= @wine.name %></a></h4>
<!--         STAR REVIEW -->   
        <p class="product-rating">
        <% if @wine.full_stars %>
            <% @wine.full_stars.times do %>
                  <i class="fa fa-star"></i>
            <% end %>
            <% if @wine.half_stars == 1 %>
                   <i class="fa fa-star-half-full"></i>
            <% end %>
            <% (4-@wine.full_stars).times do %>
                  <i class="fa fa-star-o"></i>
            <% end %>
                   <span class="sr-only"><%= @wine.existing_avg_user_rating%> stars</span>
                   <span class="rating-detail">( <%= @wine.user_rating %> based on <%= @wine.user_rating_count %> reviews )</span>

          <% else %><!--  if there are 0 reviews -->
                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span class="rating-detail"> ( No Reviews Yet ) </span>
          <% end %>
        </p>
        <br>
<!--         END STAR REVIEW -->
       
        <p>Region: <b>
              <% if @wine.region_empty? %>
                <%= @wine.region.country.name %></b></p>
              <% else %>
                <%= @wine.region.name %>, <%= @wine.region.country.name %></b></p>
                <% end %>
        <p>Wine type: <b><%= @wine.varietal.wine_type %></b></p>
        <p>Varietal: <b><%= @wine.varietal.name %></b></p>
        <p>Producer: <b><%= @wine.producer.name %></b></p>
        <p>Vintage: <b><%= @wine.vintage %></b></p>
        <p>Price: <b><%= number_to_currency(@wine.price) %></b></p>
        <br>
         <!-- Hidden Form that creates new Pin to Cellar via pins/new -->
         <div class="add-to-cellar text-center">
        <% if current_user %>
          <%= form_tag "/pins", method: :post do %>
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="hidden" name="wine_id" value="<%= @wine.id %>">  
                <button type="submit" class="btn btn-primary cellar-btn"><i class="fa fa-heart"></i> Add to My Cellar</button>
           <% end %>
          <% end %>
       </div>
      </div>
    </div>

<!-- DESCRIPTION & ADD TO CELLAR BOX-->
      <div class="col-md-4 col-sm-6">
          <div class="well my-well-show-pg">
          <h4>Tasting Notes:</h4>
          <br>
            <p><%= @wine.description %></p>
          <br>
          <p><strong><i>Where to Buy:</i></strong></p>
          <% if @wine.store_one%>
          <strong><li class="fa fa-envira fa-lg"><a href="<%= @wine.link_one %>" target="_blank"> <%= @wine.store_one %></a></li></strong>
          <% else %>
          <strong><li class="fa fa-envira fa-lg"> N/A</li></strong>
          <% end %>
          <% if @wine.store_two%>
          <strong><li class="fa fa-envira fa-lg"><a href="<%= @wine.link_two %>" target="_blank"> <%= @wine.store_two %></a></li></strong>
          <% end %>
          </div>
        </div>
    </div>
</div>

<!-- TO DO: THIS IS THE USER'S RATE / REVIEW SECTION FOR THE WINE -->
<div class="container-fluid">
<div class="row">
 <div class="col-md-12 col-sm-12">
      <div class="well review-box">
      <% if current_user %>
      <% if @wine.reviews.where(user_id: current_user.id).last %>
        <h4 class="section-heading">Edit Your Review for this Wine: <div class="rating"></h4>


        <%= form_tag "/reviews/#{@wine.reviews.where(user_id: current_user.id).last.id}", method: :patch, class: "form-horizontal" do %>
              <div class="form-group">
                <label for="contact-message" class="control-label sr-only">Review</label>
                <div class="review-block-rate">
                <div class="rating-stars">
              
                  <button  id="star-btn-1" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-2" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-3" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-4" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-5" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                
                  </div>
              </div>
            <input type="hidden" name="rating" id="star-rating">
           </select> 
                <div class="col-sm-12">

                  <textarea class="form-control" id="contact-message" name="description" rows="5" cols="30" placeholder="<%= @wine.reviews.where(user_id: current_user.id).last.description %>" ></textarea>
                  <input type="hidden" name="wine_id" value="<%= @wine.id %>">
                </div>
              </div>
             
              <div class="form-group">
                <div class="col-sm-12">
                  <button id="submit-button" type="submit" class="btn btn-primary button-color-seagreen edit-button-left"><i class="fa loading-icon"></i> <span>Edit Your Review</span></button>
                </div>
              </div>
            
            <% end %>
            <%= form_tag "/reviews/#{@wine.reviews.where(user_id: current_user.id).last.id}", method: :delete, class: "form-horizontal" do %>

                  <div class="form-group">
                <div class="col-sm-12">
                  <button id="submit-button" type="submit" class="btn button-color-delete delete-button-right"><i class="fa loading-icon"></i> <span>Delete Your Review</span></button>
                   <input type="hidden" name="wine_id" value="<%= @wine.id %>">
                </div>
              </div>
            <% end %>
       
      <% else %> <!-- IF THE WINE HASN'T BEEN REVIEWED BY THIS USER YET -->
        <h4 class="section-heading">Review this Wine: <div class="rating"></h4>


        <%= form_tag '/reviews', method: :post, class: "form-horizontal" do %>
              <div class="form-group">
                <label for="contact-message" class="control-label sr-only">Review</label>
                <div class="review-block-rate">
                <div class="rating-stars">
                  <button  id="star-btn-1" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-2" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-3" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-4" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  <button  id="star-btn-5" type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  </button>
                  </div>
              </div>
            <input type="hidden" name="rating" id="star-rating">
           </select> 
                <div class="col-sm-12">

                  <textarea class="form-control" id="contact-message" name="description" rows="5" cols="30" placeholder="Add Your Review..." ></textarea>
                  <input type="hidden" name="wine_id" value="<%= @wine.id %>">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button id="submit-button" type="submit" class="btn btn-primary button-color-seagreen"><i class="fa loading-icon"></i> <span>Submit Review</span></button>
                </div>
              </div>
            
            <% end %> 
            <% end %> 
            <% else %>
            <h4 class="section-heading">Log In to add your Review</h4>

          <% end %>

        </div>
      </div>
    </div>
</div> 

<!-- BRAVANA RATING & DESCRIPTION VIEW TABS-->
<div class="bottom">
            <div class="custom-tabs-line tabs-line-bottom left-aligned product-carousel-tab">
              <ul class="nav nav-pills" role="tablist">
                 <li class="active"><a href="#tab-reviews" role="tab" data-toggle="tab">User Reviews</a></li>
                 <li><a href="#tab-description" role="tab" data-toggle="tab">Expert Reviews</a></li>
              </ul>
            </div>

            <section class="tab-content">
              <!-- product reviews -->
              <div class="tab-pane fade in active" id="tab-reviews">
                <h2 class="sr-only">User Reviews</h2>

                <% if Review.where(wine_id: @wine.id) %>
                  <div class="product-reviews">
                  <div class="row">
                    <div class="col-sm-6">
                   

                <% Review.where(wine_id: @wine.id).each do |review| %>
                    <div class="col-sm-12">
                      <div class="testimonial-rating">
                     <!--  <div class="testimonial-rating margin-bottom-30"> the last ones had this class instead with margin-bottom-30-->
                     <hr/>
                        <img src="<%= review.user.profile_pic %>"" class="img-circle avatar" alt="avatar">
                        <div class="text">
                       <span class="rating" align="left">
                          <strong class="name"><%= review.user.name %></strong>
                         <!--  <span class="rating"> -->
                       <!--  <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-full"></i> -->
                      <% if review.rating < 6 %>
                          <% (5-review.rating).times do %>
                                <i class="fa fa-star-o"></i>
                          <% end %> 
                          <% review.rating.times do %>
                                <i class="fa fa-star"></i>
                          <% end %> 
                      <% end %>
                        </span>
                 <!--      < if review.rating == nil %>
                        < 5.times do %>
                          <i class="fa fa-star-o"></i>
                        < end %>
                        <h5> No Reviews Yet </h5>
                      < end %> -->

                         <!--  < if %>
                              <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><span class="rating-detail"> ( No Reviews Yet ) </span>
                         < end %> -->
                    <!--   </span> -->
                     <p class="content"><%= review.description %></p>
                        </div>
                      </div>
                    </div>
                  <% end %> <!-- this the end for the reviews loop -->

                  </div> <!-- this one closes product-reviews div -->
                  </div> <!-- this one closes the row div -->
                   </div> <!--  this one closes the div col-sm-6 -->
                  <% end %> <!-- this is the end for the if there are reviews  -->
                  
                  <% if (Review.where(wine_id: @wine.id)).empty?  %> 
                <div class="testimonial-rating" align="left"> <!-- this made the stars appear yellow like the other stars, but needs to be aligned left -->
                    <div class="col-sm-6">
                  <span class="rating">
                   <% 5.times do %>
                          <i class="fa fa-star-o"></i>
                        <% end %>
                      </span>
                    <p><i>No Reviews Yet</i></p>
                          </div>
                        </div>
  
                   <% end %> <!-- this is the end if there are no reviews -->

<!--                   <p class="text-right"><a href="#">See all reviews <i class="fa fa-long-arrow-right"></i></a></p>
 -->                  </div> <!-- this the end for tab reviews -->
                  <!-- product complete description -->
              <div class="tab-pane fade" id="tab-description">
                <h2 class="sr-only">Expert Reviews</h2>
                <% if @wine.expert_review == "N/A" %>
                    <p><i>No Reviews Yet</i></p>
                <% else %>
                    <p><i><%= @wine.expert_review %></i></p>
                <% end %>

              </div>

                   </section> <!-- this closes the section that has both the reviews and the drescription tabs -->
                  </div> <!-- this closes div class bottom -->
    </div>
    </div>
  
  <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
  <script src="/assets/js/plugins/zoom/jquery.zoom.js"></script>
  <script src="/assets/js/bravana.js"></script>
  <script src="/assets/js/bravana-shop.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {
    console.log('rating')
    var ratingInput = $("#star-rating");

    $('#star-btn-1').on("click", function() {
      console.log('click 1')
      ratingInput.val(1);
      $(this).addClass('btn-warning');
    }) 

     $('#star-btn-2').on("click", function() {
      console.log('click 2')
      ratingInput.val(2);
      $(this).addClass('btn-warning');
      $('#star-btn-1').addClass('btn-warning')
    }) 

    $('#star-btn-3').on("click", function() {
     console.log('click 3')
     ratingInput.val(3);
     $(this).addClass('btn-warning');
     $('#star-btn-1').addClass('btn-warning')
     $('#star-btn-2').addClass('btn-warning')
   }) 

   $('#star-btn-4').on("click", function() {
    console.log('click 4')
    ratingInput.val(4);
    $(this).addClass('btn-warning');
    $('#star-btn-1').addClass('btn-warning')
    $('#star-btn-2').addClass('btn-warning')
    $('#star-btn-3').addClass('btn-warning')
  }) 

  $('#star-btn-5').on("click", function() {
   console.log('click 5')
   ratingInput.val(5);
   $(this).addClass('btn-warning');
   $('#star-btn-1').addClass('btn-warning')
   $('#star-btn-2').addClass('btn-warning')
   $('#star-btn-3').addClass('btn-warning')
   $('#star-btn-4').addClass('btn-warning')
 }) 

    
  });
</script>

</body>

</html>





<!-- OLD RATING VIEW YELP STYLE REVIEW BLURB
 -->    <!-- <div class="container">
          
    <div class="row">
      <div class="col-sm-3">
        <div class="rating-block">
          <h4>Average user rating</h4>
          <h2 class="bold padding-bottom-7"><%= @wine.user_rating %><small>/ 5</small></h2>
          
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-sm-3">
        <h4>Rating breakdown</h4>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
              <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">1</div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
              <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">1</div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
              <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">0</div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
              <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">0</div>
        </div>
        <div class="pull-left">
          <div class="pull-left" style="width:35px; line-height:1;">
            <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
          </div>
          <div class="pull-left" style="width:180px;">
            <div class="progress" style="height:9px; margin:8px 0;">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
              <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
          <div class="pull-right" style="margin-left:10px;">0</div>
        </div>
      </div>      
    </div>      
    
    <div class="row">
      <div class="col-sm-7">
        <hr/>
        <div class="review-block">
          <div class="row">
            <div class="col-sm-3">
              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
              <div class="review-block-name"><a href="#">nktailor</a></div>
              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
              </div>
              <div class="review-block-title">this was nice in buy</div>
              <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-3">
              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
              <div class="review-block-name"><a href="#">nktailor</a></div>
              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
              </div>
              <div class="review-block-title">this was nice in buy</div>
              <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-3">
              <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
              <div class="review-block-name"><a href="#">nktailor</a></div>
              <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
            </div>
            <div class="col-sm-9">
              <div class="review-block-rate">
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
              </div>
              <div class="review-block-title">this was nice in buy</div>
              <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
  <!--   </div> /container
  </body>
</html> -->

<!-- <script type="text/javascript">
  $(document).ready(function() {
    console.log('rating')
    var ratingInput = $("#star-rating");

    $('#star-btn-1').on("click", function() {
      console.log('click 1')
      ratingInput.val(1);
      $(this).addClass('btn-warning');
    }) 

     $('#star-btn-2').on("click", function() {
      console.log('click 2')
      ratingInput.val(2);
      $(this).addClass('btn-warning');
      $('#star-btn-1').addClass('btn-warning')
    }) 

    $('#star-btn-3').on("click", function() {
     console.log('click 3')
     ratingInput.val(3);
     $(this).addClass('btn-warning');
     $('#star-btn-1').addClass('btn-warning')
     $('#star-btn-2').addClass('btn-warning')
   }) 

   $('#star-btn-4').on("click", function() {
    console.log('click 4')
    ratingInput.val(4);
    $(this).addClass('btn-warning');
    $('#star-btn-1').addClass('btn-warning')
    $('#star-btn-2').addClass('btn-warning')
    $('#star-btn-3').addClass('btn-warning')
  }) 

  $('#star-btn-5').on("click", function() {
   console.log('click 5')
   ratingInput.val(5);
   $(this).addClass('btn-warning');
   $('#star-btn-1').addClass('btn-warning')
   $('#star-btn-2').addClass('btn-warning')
   $('#star-btn-3').addClass('btn-warning')
   $('#star-btn-4').addClass('btn-warning')
 }) 

    
  });
</script> -->