<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wine-to-Table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Responsive Website Template">
  <meta name="author" content="The Develovers">
  <!-- CORE CSS -->
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/elegant-icons.css" rel="stylesheet" type="text/css">
  <!-- SLIDER REVOLUTION CSS -->
  <link href="/assets/js/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css">
  <link href="/assets/js/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css">
  <link href="/assets/js/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css">
  <!-- THEME CSS -->
  <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">

    <!-- SKIN CSS (your chosen CSS skin file) -->
    <link rel="stylesheet" href="/assets/css/skins/seagreen.css" type="text/css">
 
    <!-- YOUR CUSTOM CSS -->
    <link href="/assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
  
  <!-- GOOGLE FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,400italic,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300,300italic' rel='stylesheet' type='text/css'>
  <!-- FAVICONS -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/bravana144.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/bravana114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/bravana72.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/ico/bravana57.png">
  <link rel="shortcut icon" href="/assets/ico/favicon.ico">
      <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>

<body class="layout-boxed">


  <!-- WRAPPER -->
  <div id="wrapper">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
      <!-- TOP BAR -->
      <div class="nav-topbar clearfix topbar-accent">
        <div class="container">
          <!-- <div class="left">
           <a href="/" class="navbar-brand">
          <img src="/assets/img/logo/bravana-seagreen.png" alt="Bravana Logo">
        </a> -->
            <!-- <ul class="list-inline social-icons social-icons-small social-icons-fullrounded">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul> -->
         <!--  </div> -->
<!--           copied this search bar from my app (like this better):

            this is the Bravana default search bar that it came with: -->
<!--             <= form_tag "/wines", method: :get, class: "navbar-form navbar-left search-form", role: "search" do %>
 -->            <!-- <form class="navbar-form navbar-left search-form" method="get" role="search"> -->
            <!--   <div class="input-group input-group-sm">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div> -->
            <!-- </form> -->
           <!--  < end %> -->


          <div class="right">
            <ul class="nav navbar-nav navbar-right">
             <% if current_user %>
                <li><a href="/cellar" class="as-button"><span class="btn btn-primary btn-fullrounded btn-sm add-button">My Cellar</span></a></li>
                <li><a href="/users/<%= current_user.id %>/edit" class="as-button"><span class="btn btn-primary btn-fullrounded btn-sm add-button">My Profile</span></a></li>
                <li><a href="/logout" class="as-button"><span class="btn btn-primary btn-fullrounded btn-sm add-button">Log Out</span></a></li>
        <% else %>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
        <% end %>   
            </ul>
          </div>


<!-- SEARCH BAR -->
       <!--      <= form_tag "/wines", method: :get, class: "navbar-form navbar-right" do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search_term">
                <button type="submit" class="btn btn-default">Submit</button> 
              </div>
            < end %> -->

        </div>
      </div>
      <!-- END TOP BAR -->

<!--BRAVANA LOGO -->     
    <div class="container middle-navbar">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a href="/" class="navbar-brand middle-navbar navbar-brand-position">
          <img src="/assets/img/logo/my-logo-2.png" alt="Bravana Logo" class="my-logo navbar-brand-position">
        </a>


  <!-- SEARCH FORM -->
          <%= form_tag "/wines", method: :get, class: "navbar-form navbar-right" do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search_term">
                <button type="submit" class="btn btn-default">Submit</button> 
              </div>
            <% end %>

  <!-- END SEARCH FORM -->

    </div>

<!--         Search Bar
 -->       <!--  <div>
        <= form_tag "/wines", method: :get, class: "navbar-form navbar-right" do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" name="search_term">
                <button type="submit" class="btn btn-default">Submit</button> 
              </div>
          < end %>
          </div> -->



     <div class="container bottom-navbar">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <i class="fa fa-bars"></i>
        </button>
     

<!--         THIS IS WHERE THE FILTERS START
 -->        <div id="main-nav-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav main-navbar-nav">
            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">WINE TYPE <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="/wines/?user_wine_type=Red&from_type=true">Red</a></li> 
                  <li><a href="/wines/?user_wine_type=White&from_type=true">White</a></li>
                  <li><a href="/wines/?user_wine_type=Rosé&from_type=true">Rosé</a></li>
                  <li><a href="/wines/?user_wine_type=Sparkling and Champagne&from_type=true">Sparkling & Champagne</a></li>
                  <li><a href="/wines/?user_wine_type=Dessert&from_type=true">Dessert</a></li>
                  <li><a href="/wines/?user_wine_type=Sherry, Port, Madeira&from_type=true">Sherry, Port, Madeira</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">VARIETAL <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <% Varietal.all.each do |varietal| %>
                      <li><a href="/wines/?user_varietal=<%= varietal.name %>&from_var=<%= true %>"><%=varietal.name%></a></li>
                    <% end%>
                </ul>
              </li>
            
            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">COUNTRY <i class="fa fa-angle-down"></i></a>
              <ul class="dropdown-menu">
                <% Country.all.each do |country| %>
                    <li><a href="/wines/?user_country=<%= country.id %>&from_country=<%= true %>"><%=country.name%></a></li>
                <% end%>
              </ul>
            </li>

            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">REGION <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <% Region.all.each do |region| %>
                      <% if region.name.present? %>
                       <li><a href="/wines/?user_region=<%= region.name %>&from_region=true"><%=region.name%></a></li>
                       <% end %>
                    <% end%>
                </ul>
            </li>


            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">VINTAGE <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/wines/?sort=vintage">Oldest - Newest</a></li>
                    <li><a href="/wines/?sort=vintage&sort_order=desc">Newest - Oldest</a></li>
                    <li><a href="/wines/?sort=vintage&sort_min=2014&sort_max=2016&sort_order=desc">2014 - 2016</a></li>
                    <li><a href="/wines/?sort=vintage&sort_min=2011&sort_max=2013&sort_order=desc">2011 - 2013</a></li>
                    <li><a href="/wines/?sort=vintage&sort_min=2006&sort_max=2010&sort_order=desc">2006 - 2010</a></li>
                    <li><a href="/wines/?sort=vintage&sort_min=2000&sort_max=2005&sort_order=desc">2000 - 2005</a></li>
                    <li><a href="/wines/?sort=vintage&sort_min=0&sort_max=1999&sort_order=desc">< 2000</a></li>    
                  </ul>
            </li>

            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">PRICE <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/wines/?sort=price">Low - High</a></li>
                  <li><a href="/wines/?sort=price&sort_order=desc">High - Low</a></li>
                  <li><a href="/wines/?sort=price&sort_min=1&sort_max=15&sort_order=asc">$1 - $15</a></li>
                  <li><a href="/wines/?sort=price&sort_min=16&sort_max=30&sort_order=asc">$16 - $30</a></li>
                  <li><a href="/wines/?sort=price&sort_min=31&sort_max=50&sort_order=asc">$31 - $50</a></li>
                  <li><a href="/wines/?sort=price&sort_min=51&sort_max=99&sort_order=asc">$51 - $99</a></li>
                  <li><a href="/wines/?sort=price&sort_min=100&sort_max=20000&sort_order=asc"> > $100</a></li>   
                </ul>
            </li>

            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">EXPERT RATING <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                <li><a href="/wines/?sort=expert_rating&sort_order=desc">High - Low</a></li>
                <li><a href="/wines/?sort=expert_rating">Low - High</a></li>
                <li><a href="/wines/?sort=expert_rating&sort_min=95&sort_max=100&sort_order=desc">95 - 100</a></li>
                <li><a href="/wines/?sort=expert_rating&sort_min=90&sort_max=95&sort_order=desc">90 - 95</a></li>
                <li><a href="/wines/?sort=expert_rating&sort_min=80&sort_max=90&sort_order=desc">80 - 90</a></li>
                <li><a href="/wines/?sort=expert_rating&sort_min=70&sort_max=80&sort_order=desc">70 - 80</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">USER RATING <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/wines/?user_sort=user_rating&sort_order=desc">High - Low</a></li>
                  <li><a href="/wines/?user_sort=user_rating&sort_order=asc">Low - High</a></li>
                  <li><a href="/wines/?user_sort=user_rating">Most Reviewed</a></li>   
                </ul>
            </li>
           
            <li class="dropdown">
              <a href="/" class="dropdown-toggle bottom-navbar-text" data-toggle="dropdown">OVERALL RATING <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="/wines/?overall_sort=overall_rating&sort_order=desc">High - Low</a></li>
                  <li><a href="/wines/?overall_sort=overall_rating&sort_order=asc">Low - High</a></li>
                </ul>
            </li>

          </ul>
        </div>
        <!-- END MAIN NAVIGATION -->
      </div>
    </nav>
      <div class="container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
    <!-- END NAVBAR -->
    <!-- SLIDER -->
   <!--  <section id="slider-fullwidth" class="rev_slider no-padding">
      <ul>
        <li data-transition="fadethroughlight">
          <img src="/assets/img/hero-unit/slide1.jpg" data-bgfit="cover" data-bgposition="0 75%" data-bgrepeat="no-repeat" alt="Slide">
          <div class="tp-caption" data-x="left" data-y="center" data-hoffset="0" data-voffset="0" data-transform_in="o:0;y:300;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;y:-600;s:1500;e:Power3.easeInOut;" data-start="1000">
            <img src="/assets/img/hero-unit/man-flying.png" width="206" height="456" data-ww="206" data-hh="456" alt="">
          </div>
          <div class="tp-caption tp-resizeme big-text" data-x="left" data-y="top" data-hoffset="250" data-voffset="0" data-transform_in="o:0;x:-80;s:1500;" data-transform_idle="o:1" data-transform_out="o:0;x:80;s:1500;e:Power3.easeInOut;" data-start="2000">
            <h2 class="heading">WELCOME TO <strong>BRAVANA</strong></h2>
          </div>
          <div class="tp-caption tp-resizeme lead-text" data-x="left" data-y="top" data-hoffset="250" data-voffset="110" data-width="700" data-height="auto" data-whitespace="normal" data-transform_in="o:0;x:-40;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;x:40;s:1500;e:Power3.easeInOut;" data-start="2500">
            <p>Multipurpose website template built with Bootstrap to save your time. Free support &amp; updates.</p>
          </div>
          <div class="tp-caption tp-resizeme" data-x="left" data-y="top" data-hoffset="250" data-voffset="230" data-transform_in="o:0;x:-20;s:1500;" data-transform_idle="o:1" data-transform_out="o:0;x:20;s:1500;e:Power3.easeInOut;" data-start="3000">
            <a href="#" class="btn btn-primary btn-lg"><i class="icon_cart_alt"></i> PURCHASE</a><a href="#" class="btn btn-default-gray btn-lg"><i class="arrow_carrot-down_alt2"></i> LEARN MORE</a>
          </div>
        </li>
        <li data-transition="fadethroughlight">
          <img src="/assets/img/hero-unit/slide2.jpg" data-bgfit="cover" data-bgposition="center 55%" data-bgrepeat="no-repeat" alt="Slide">
          <div class="tp-caption" data-x="center" data-y="center" data-hoffset="0" data-voffset="0" data-transform_in="o:0;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="1000">
            <img src="/assets/img/hero-unit/theme-values.png" width="517" height="275" data-ww="517" data-hh="275" alt="Theme Values">
          </div>
          <div class="tp-caption" data-x="center" data-y="center" data-hoffset="-400" data-voffset="-100" data-transform_in="o:0;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="1300">
            <img src="/assets/img/hero-unit/clean-slick.png" width="229" height="148" data-ww="229" data-hh="148" alt="Clean and Slick Design">
          </div>
          <div class="tp-caption" data-x="center" data-y="center" data-hoffset="400" data-voffset="-140" data-transform_in="o:0;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="1800">
            <img src="/assets/img/hero-unit/premium-slider.png" width="257" height="129" data-ww="257" data-hh="129" alt="Premium Slider Revolution">
          </div>
          <div class="tp-caption" data-x="center" data-y="center" data-hoffset="-300" data-voffset="100" data-transform_in="o:0;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="2300">
            <img src="/assets/img/hero-unit/ultra-responsive.png" width="192" height="149" data-ww="192" data-hh="149" alt="Ultra Responsive">
          </div>
          <div class="tp-caption" data-x="center" data-y="center" data-hoffset="380" data-voffset="100" data-transform_in="o:0;s:1500;" data-transform_idle="o:1;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="2800">
            <img src="/assets/img/hero-unit/easy-customize.png" width="185" height="146" data-ww="185" data-hh="146" alt="Easy to Customize">
          </div>
        </li>
        <li data-transition="3dcurtain-horizontal">
          <img src="/assets/img/hero-unit/slide3.jpg" data-bgfit="cover" data-bgposition="center 55%" data-bgrepeat="no-repeat" alt="Slide">
          <div class="tp-caption tp-resizeme big-text text-center" data-x="center" data-y="top" data-hoffset="0" data-voffset="30" data-transform_in="o:0;y:50;s:1500;" data-transform_idle="o:1;y:0;" data-transform_out="o:0;x:250;s:1500;e:Power3.easeInOut;" data-start="1000">
            <h2 class="heading">SAVE YOUR <em>TIME</em></h2>
          </div>
          <div class="tp-caption tp-resizeme lead-text text-center" data-x="center" data-y="top" data-hoffset="0" data-voffset="130" data-width="700" data-height="auto" data-whitespace="normal" data-transform_in="o:0;y:50;s:1500;" data-transform_idle="o:1;y:0;" data-transform_out="o:0;x:250;s:1500;e:Power3.easeInOut;" data-start="1500">
            <p>Ready-to-use pages, elements and components are provided for your project.</p>
          </div>
          <div class="tp-caption tp-resizeme" data-x="center" data-y="top" data-hoffset="0" data-voffset="250" data-transform_in="o:0;y:50;s:1500;" data-transform_idle="o:1;y:0;" data-transform_out="o:0;x:250;s:1500;e:Power3.easeInOut;" data-start="2000">
            <a href="#" class="btn btn-primary btn-lg"><i class="icon_cart_alt"></i> PURCHASE</a><a href="#" class="btn btn-default-gray btn-lg"><i class="arrow_carrot-down_alt2"></i> LEARN MORE</a>
          </div>
        </li>
        <li data-transition="parallaxtoleft">
          <img src="/assets/videos/video-bg.jpg" alt="Poster" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
          <div class="tp-caption tp-shape tp-shapewrapper slide-overlay" data-width="full" data-height="full" data-basealign="slide" data-transform_in="o:0;s:1500;e:Power3.easeInOut;" data-transform_idle="o:1" data-transform_out="o:0;s:1000;e:Power3.easeInOut;" data-start="0">
          </div>
          <div class="rs-background-video-layer" data-forcerewind="on" data-videowidth="100%" data-videoheight="100%" data-videomp4="/assets/videos/video-bg.mp4" data-videowebm="/assets/videos/video-bg.webm" data-videoogv="/assets/videos/video-bg.ogv" data-videoposter="/assets/videos/video-bg.jpg" data-autoplay="true" data-videopreload="preload" data-autoplayonlyfirsttime="false" data-nextslideatend="true" data-aspectratio="16:9">
          </div>
          <div class="tp-caption tp-resizeme big-text light-text text-center" data-x="center" data-y="top" data-hoffset="0" data-voffset="50" data-transform_in="o:0;y:50;s:1500;" data-transform_idle="o:1;y:0;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="1000">
            <h2 class="heading">VIDEO BACKGROUND</h2>
          </div>
          <div class="tp-caption tp-resizeme lead-text light-text text-center" data-x="center" data-y="top" data-hoffset="0" data-voffset="160" data-width="700" data-height="auto" data-whitespace="normal" data-transform_in="o:0;y:50;s:1500;" data-transform_idle="o:1;y:0;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="1500">
            <p>HTML5 Video, YouTube and Vimeo.
              <br>Now everyone can have cool video background without headache</p>
          </div>
          <div class="tp-caption tp-resizeme" data-x="center" data-y="top" data-hoffset="0" data-voffset="330" data-transform_in="o:0;y:50;s:1500;" data-transform_idle="o:1;y:0;" data-transform_out="o:0;s:1500;e:Power3.easeInOut;" data-start="2000">
            <a href="#" class="btn btn-primary btn-lg"><i class="icon_cart_alt"></i> PURCHASE</a><a href="#" class="btn btn-default-gray btn-lg"><i class="arrow_carrot-down_alt2"></i> LEARN MORE</a>
          </div>
        </li>
      </ul>
    </section> -->
    <!-- END SLIDER -->
<!--     <section class="no-padding-bottom">
      <div class="container">
        <h2 class="section-heading">DUMMY CONTENT</h2>
        <p>Compellingly repurpose superior leadership skills vis-a-vis high-quality quality vectors. Objectively repurpose value-added experiences vis-a-vis resource sucking results. Credibly productize professional infomediaries without accurate platforms. Energistically architect timely "outside the box" thinking without adaptive niches. Enthusiastically innovate focused products with.</p>
        <p>Objectively matrix customer directed communities and one-to-one paradigms. Intrinsicly create prospective core competencies whereas mission-critical schemas. Distinctively transform optimal ROI rather than optimal "outside the box" thinking. Competently disseminate granular methodologies rather than next-generation users. Interactively innovate client-centric supply chains with virtual sources. Phosfluorescently network principle-centered niche markets through client-focused schemas. Energistically facilitate leading-edge models whereas alternative niches. Compellingly engage revolutionary communities without state of the art niches. Distinctively empower backward-compatible networks through 24/7.</p>
      </div> -->
 <!--      <div class="cta cta-solid-brand-bg cta-2-columns margin-top-50">
        <div class="container">
          <h2 class="heading">An elegant Bootstrap theme with tons of features</h2>
          <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart"></i> PURCHASE</a>
        </div>
      </div>
    </section> -->
    <!-- FOOTER -->
    <!-- <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/img/logo/bravana-default.png" alt="Bravana logo" class="logo-footer">
            <br>
            <br>
            <p>Proactively aggregate B2B initiatives before extensive channels. Monotonectally extend interactive methods of empowerment through excellent applications.</p>
            <p>No need to wait, <a href="#">send us a quote</a></p>
            <br>
            <address class="contact-info">
              <p><i class="icon icon_pin_alt ico-styled text-primary"></i> 1234 North Main Street New York, NY 22222</p>
              <p><i class="icon icon_phone ico-styled text-primary"></i> (1800) 765 - 4321</p>
              <p><i class="icon icon_mail_alt ico-styled text-primary"></i> <a href="mailto:email@yourdomain.com">email@yourdomain.com</a></p>
            </address>
          </div>
          <div class="col-md-4">
            <h4 class="footer-heading">LATEST NEWS</h4>
            <ul class="list-unstyled latest-news-footer">
              <li class="news-item">
                <h5 class="title"><a href="#">Dynamically Pontificate Highly Efficient Vortals</a></h5>
                <span>Oct 12, 2015</span>
              </li>
              <li class="news-item">
                <h5 class="title"><a href="#">Globally pontificate cross-platform resources without turnkey e-commerce</a></h5>
                <span>Oct 11, 2015</span>
              </li>
              <li class="news-item">
                <h5 class="title"><a href="#">Credibly administrate one-to-one e-tailers for diverse value.</a></h5>
                <span>Oct 10, 2015</span>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="footer-heading">GET CONNECTED</h4>
            <ul class="list-inline social-icons social-icons-small">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <div class="margin-bottom-50"></div>
            <h4 class="footer-heading">NEWSLETTER</h4>
            <p>Get the latest update from us by subscribing to our newsletter.</p>
            <form class="newsletter-form" method="post">
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" name="email" placeholder="youremail@domain.com">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><i class="fa fa-spinner fa-spin"></i><span>SUBSCRIBE</span></button>
                </span>
              </div>
              <div class="alert"></div>
            </form>
          </div>
        </div>-->
          <%= yield %>
   <!--      <div class="footer-bottom">
          <p class="copyright-text left">&copy;2016 The Develovers. All Rights Reserved.</p>
          <nav class="right">
            <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>  -->
    <!-- END FOOTER -->
    <div class="back-to-top">
      <a href="#top"><i class="fa fa-chevron-up"></i></a>
    </div>
  </div>
  <!-- END WRAPPER -->
  <!-- JAVASCRIPT -->
  <script src="/assets/js/jquery-2.1.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/plugins/easing/jquery.easing.min.js"></script>
  <script src="/assets/js/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="/assets/js/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script src="/assets/js/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="/assets/js/bravana.js"></script>
  <script src="/assets/js/plugins/parsley-validation/parsley.js"></script>
  <script src="/assets/js/plugins/parsley-validation/parsley.min.js"></script>

</body>

</html>
